streamlit==1.50.0
streamlit-local-storage==0.0.25
langchain==1.0.2
langchain-core==1.0.1
langchain-community==0.4.1
langchain-chroma==1.0.0
langchain-ollama==1.0.0
langchain-huggingface==1.0.0
PyMuPDF==1.26.5
unstructured==0.18.15
pypandoc==1.15
pypandoc_binary==1.15
sentence-transformers==5.1.2
hf-xet==1.2.0
